header {
    background-color: rgb(153, 153, 153);
    padding: 4rem;
    margin: 0;
    border: solid black 1px;
    font-size: x-large;
}

.movieForm {
    padding: 2vh;
}

.input {
    padding: 1vh;
    margin-top: 1vh;
}

.text {
    padding: 1vh;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.genres {
    padding: 1vh;
    margin-bottom: 2vh;
}

.button {
    margin: 1vh;
}